body{
    margin: 0px;
    border: none;
    background-color: black;
    min-height: 3000px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


#header {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container .inline {
    display: inline-block;
}

nav ul li {
    margin: 0px 10px;
    display: inline-block;
    position: relative;
}

.right-1{
    width: 1000px;
    height: 1000px;
    background-color: white;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -500px;
    left: -500px;
}

.right-2{

}