body {
    margin: 0px;
    border: none;
    background-color: black;
    min-height: 3000px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


#header {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
        direction: rtl;
}

.container .inline {
    display: inline-block;
}

nav ul li {
    margin: 0px 10px;
    display: inline-block;
    position: relative;
}

.left-top {
    width: 1500px;
    height: 1500px;
    background-color: grey;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -837px;
    left: -963px;
}

.right-top {
    width: 1500px;
    height: 1500px;
    background-color: grey;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -2398px;
    right: -922px;
}

.left-top-white {
    width: 797px;
    height: 540px;
    background-color: white;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -3394px;
    right: -111px;
}
.top-icon {
    width: 797px;
    height: 540px;
    background-color: black;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -4422px;
    right: -187px;
}

.top-icon-main {
    width: 300px;
    height: 300px;
    background-color: red;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -4243px;
    right: 368px;
    overflow: hidden;
}

.top-icon-main {
    width: 300px;
    height: 300px;
    background-color: red;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -4243px;
    right: 368px;
    overflow: hidden;
}

.top-icon-main img{
    object-fit: cover;
    width: 58px;
    transform: rotate(-45deg);
    position: relative;
    top: 205px;
    right: -216px;
    object-fit: cover;
}

.right-big-image{
    width: 700px;
    height: 700px;
    background-color: aqua;
    background-repeat: none;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -2863px;
    right: 133px;
    overflow: hidden;
}

.right-big-image img{
    object-fit: cover;
    width: 1000px;
    transform: rotate(-45deg);
    position: relative;
    top: -150px;
    right: 150px;
}

.text-left {
    overflow: hidden;
    width: 500px;
    height: 500px;
    background-color: darkred;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -4057px;
    right: -187px
}

.main-text{
    object-fit: cover;
    transform: rotate(-45deg);
    position: relative;
    /* top: -150px; */
    /* right: 150px; */
}


.chIndex{
    z-index: -1;
    /* object-fit: cover; */
}

